<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".SettingsActivity"
            android:taskAffinity="com.duchastel.simon.simplelauncher.features.settings"
            android:launchMode="singleTask"
            android:label="@string/title_activity_settings"
            android:exported="true"
            android:excludeFromRecents="false" />
    </application>

</manifest>