<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission to bind and host app widgets -->
    <uses-permission 
        android:name="android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />

</manifest>